<template>
  <div class="column q-pa-md justify-between fit">
    <div v-for="event in events" :key="event.id">
      <router-link
        :to="{ name: 'event', params: { id: event.id } }"
        style="text-decoration: none; color: inherit"
      >
        <EventListing :event="event" class="q-mt-md" />
      </router-link>
    </div>
  </div>
</template>

<script lang="ts">
import { Event } from '../components/models';
import { defineComponent } from 'vue';
import EventListing from 'src/components/EventListing.vue';
import IssmitApi from 'src/services/IssmitApi'

export default defineComponent({
  name: 'Event',
  components: { EventListing },
  setup() {
    return {
      events: new Array<Event>(),
    };
  },
  async mounted() {
    await IssmitApi.getEvents()
      .then((response) => {
        console.log(response);
        this.events = response;
        this.$forceUpdate();
      });
  },
});
</script>

<style></style>
