<template>
  <div>
    <EventListing v-if="event" :event="event" />
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import EventListing from 'src/components/EventListing.vue';
import { Event } from 'src/components/models';
import IssmitApi from 'src/services/IssmitApi';

export default defineComponent({
  name: 'EventDetail',
  components: { EventListing },
  setup() {
    return {
      event: {} as Event,
    };
  },
  async mounted() {
    await IssmitApi.getEvent(this.$route.params.id.toString())
      .then((response) => {
        console.log(response);
        this.event = response;
        this.$forceUpdate();
      });
  },
});
</script>
