<template>
  <q-page padding>
      <oauth></oauth>
  </q-page>
</template>

<script lang="ts">
import Oauth from 'src/components/OauthComponent.vue'
import { defineComponent } from 'vue'
export default defineComponent({
    name: 'LoginPage',
    components: { Oauth }
})
</script>
