<template>
  <q-page padding>
    <div class="column justify-between items-center fit q-mt-lg">
      <div v-if="username" class="text-subtitle1">
        Hi {{ username }}, was möchtest du machen?
      </div>
      <div class="column items-center fit" width="100%">
        <h4>Dabeisein</h4>
        <q-skeleton type="rect" height="200px" width="100%" animation="none" />
      </div>
      <div class="column items-center">
        <h4>Machen</h4>
        <div class="row">
          <div class="col">
            <q-btn size="md" icon="today" stack flat>Event starten</q-btn>
          </div>
          <div class="col">
            <q-btn size="md" icon="ramen_dining" stack flat
              >Mahlzeit teilen</q-btn
            >
          </div>
          <div class="col">
            <q-btn size="md" icon="shopping_bag" stack flat
              >Lebensmittel weitergeben</q-btn
            >
          </div>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script lang="ts">
import { defineComponent, computed } from 'vue';
import { useStore } from 'src/store';
export default defineComponent({
  // name: 'PageName'
  setup() {
    const $store = useStore();
    const username = computed(() => $store.state.auth.username);

    return {
      username,
    };
  },
});
</script>
