<template>
  <q-card v-if="event">
    <img src="food-banner.jpeg" />
    <q-card-section>
      <div class="text-h6">{{ event.name }}</div>
      <div v-if="event.description">{{ event.description }}</div>
      <div v-if="event.takes_place_on">
        <q-icon name="event" /> {{ formatDate(event.takes_place_on) }}
      </div>
      <div v-if="event.takes_place_at">
        <q-icon name="place" /> {{ event.takes_place_at }}
      </div>
    </q-card-section>
  </q-card>
</template>

<script lang="ts">
import { Event } from './models';
import { date } from 'quasar';
import { defineComponent } from 'vue';
export default defineComponent({
  name: 'EventListing',
  props: {
    event: {
      type: Event,
      default: '',
    },
  },
  methods: {
    formatDate(dateToFormat: string): string {
      return date.formatDate(dateToFormat, 'DD.MM.YY, HH:mm:ss');
    },
  },
});
</script>

<style></style>
