<template>
  <div class="column">
    <div class="row">
      <h5 class="text-h5 q-my-md">{{ $t('pageLoginTitle') }}</h5>
    </div>
    <div class="row">
      <q-card square bordered class="q-pa-lg shadow-1">
        <q-card-section>
          <q-form class="q-gutter-md">
            <q-input
              square
              filled
              clearable
              v-model="email"
              type="email"
              :label="$t('email')"
            />
            <q-input
              square
              filled
              clearable
              v-model="password"
              type="password"
              :label="$t('password')"
            />
          </q-form>
        </q-card-section>
        <q-card-actions class="q-px-md">
          <q-btn
            unelevated
            color="light-green-7"
            size="lg"
            class="full-width"
            :label="$t('login')"
            @click="login(email, password)"
          />
        </q-card-actions>
        <q-card-actions class="q-px-md">
          <q-btn
            unelevated
            color="light-green-7"
            size="lg"
            class="full-width"
            :label="$t('oauthBtn')"
            @click="oauth()"
          />
        </q-card-actions>
        <q-card-section class="text-center q-pa-none">
          <p class="text-grey-6">
            Not registered?
            <router-link to="/signup">Create an Account</router-link>
          </p>
        </q-card-section>
      </q-card>
    </div>
  </div>
</template>

<script lang="ts">
//import { AuthKey } from 'components/symbols';
import { defineComponent, ref } from 'vue';
import { useAuth } from '@websanova/vue-auth';

export default defineComponent({
  name: 'LoginForm',
  setup() {
    const auth = useAuth();
    const login = (email: string, password: string) => {
      void auth.login({
        data: {
          email: email,
          password: password,
        },
      });
    };
    const oauth = () => {
      void auth.oauth2('backend', { code: false });
      void auth.oauth2('backend', { code: true, url: 'app/' });
    };
    return {
      email: ref(''),
      password: ref(''),
      login,
      oauth,
    };
  },
});
</script>
