<template>
  {{ accessToken }}
  <q-btn
    v-if="!accessToken"
    unelevated
    color="light-green-7"
    size="lg"
    class="full-width"
    :label="$t('oauthLogin')"
    @click="onOAuthBtnClick()"
  />
  <q-btn
    v-else
    unelevated
    color="light-green-7"
    size="lg"
    class="full-width"
    :label="$t('oauthLogout')"
    @click="onLogoutClick()"
  />
</template>

<script lang="ts">
import { defineComponent, computed } from 'vue';
import {
  OAuth2Client,
  OAuth2AuthenticateOptions,
} from '@byteowls/capacitor-oauth2';
import { useStore } from 'src/store';

export default defineComponent({
  name: 'Oauth Component',
  setup() {
    const $store = useStore();

    const oauthBase = process.env.OAUTH_BASE
      ? process.env.OAUTH_BASE
      : 'http://localhost:8000/o/';
    const clientId = process.env.OAUTH_CLIENT_ID
      ? process.env.OAUTH_CLIENT_ID
      : '';
    const redirectUrl = process.env.OAUTH_REDIRECT_URL
      ? process.env.OAUTH_REDIRECT_URL
      : 'http://localhost:8080/';

    const oauth2Options: OAuth2AuthenticateOptions = {
      authorizationBaseUrl: `${oauthBase}/authorize/`,
      accessTokenEndpoint: `${oauthBase}/token/`,
      scope: 'read write openid',
      // resourceUrl: null,
      resourceUrl: `${oauthBase}/userinfo/`,
      pkceEnabled: true,
      logsEnabled: true,
      web: {
        appId: clientId,
        responseType: 'code', // implicit flow
        // accessTokenEndpoint: '', // clear the tokenEndpoint as we know that implicit flow gets the accessToken from the authorizationRequest
        redirectUrl: redirectUrl,
        windowOptions: 'height=600,left=0,top=0',
      },
    };
    const oauth2LogoutOptions: OAuth2AuthenticateOptions = {};

    let refreshToken: string;

    function onOAuthBtnClick() {
      OAuth2Client.authenticate(oauth2Options)
        .then((response) => {
          let accessToken: string = response['access_token']; // eslint-disable-line
          refreshToken = response['refresh_token']; // eslint-disable-line
          let username = response['username']; // eslint-disable-line

          void $store.dispatch('auth/setAccessToken', accessToken);
          void $store.dispatch('auth/setUsername', username);
        })
        .catch((reason) => {
          console.error('OAuth rejected', reason);
        });
    }

    function onLogoutClick() {
      OAuth2Client.logout(oauth2LogoutOptions)
        .then(() => {
          void $store.dispatch('auth/setAccessToken', '');
          void $store.dispatch('auth/setUsername', '');
        })
        .catch((reason) => {
          console.error('OAuth logout failed', reason);
        });
    }

    const accessToken = computed(() => $store.state.auth.accessToken);

    return {
      onOAuthBtnClick,
      onLogoutClick,
      accessToken,
    };
  },
});
</script>
