<template>
  <q-layout view="hHh Lpr fFf">
    <!-- Be sure to play with the Layout demo on docs -->

    <!-- (Optional) The Header -->
    <q-header elevated>
      <q-toolbar class="bg-white">
        <q-btn
          color="primary"
          flat
          round
          dense
          icon="menu"
          @click="leftDrawer = !leftDrawer"
        />
        <q-toolbar-title class="text-primary"> Issmit </q-toolbar-title>
        <q-avatar
          v-if="username"
          color="primary"
          text-color="white"
          size="md"
          >{{ username.charAt(0) }}</q-avatar
        >
      </q-toolbar>
    </q-header>

    <!-- (Optional) The Footer -->
    <q-footer>
      <q-tabs switch-indicator class="bg-white text-primary">
        <q-route-tab icon="img:logo.svg" to="/" replace label="Home" />
        <q-route-tab icon="event" to="/events" replace label="Events" />
        <q-route-tab
          icon="restaurant"
          to="/some/other/route"
          replace
          label="Essen"
        />
        <q-route-tab
          icon="shopping_cart"
          to="/some/other/route"
          replace
          label="Lebensmittel"
        />
        <q-route-tab
          icon="notifications"
          to="/some/other/route"
          replace
          label="Aktivität"
        />
        <q-route-tab
          icon="more_horiz"
          to="/some/other/route"
          replace
          label="Mehr"
        />
      </q-tabs>
    </q-footer>

    <!-- (Optional) A Drawer; you can add one more with side="right" or change this one's side -->
    <q-drawer
      v-model="leftDrawer"
      side="left"
      bordered
      content-class="bg-grey-2"
    >
      <!-- QScrollArea is optional -->
      <q-scroll-area class="fit q-pa-sm">
        <!-- Content here -->
      </q-scroll-area>
    </q-drawer>

    <q-page-container>
      <!-- This is where pages get injected -->
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script lang="ts">
import { defineComponent, ref, computed } from 'vue';
import { useStore } from 'src/store';
export default defineComponent({
  // name: 'LayoutName',

  setup() {
    const leftDrawer = ref(false);
    const $store = useStore();
    const username = computed(() => $store.state.auth.username);
    return { leftDrawer, username };
  },
});
</script>
